@model Pizzas.Models.PizzaViewModel
@using Pizzas.Helpers
@{
    ViewBag.Title = "Edit";
    ViewBag.enabled = true;
}

<h2>Edit</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Modifier la pizza</h4>
        <hr />
        @Html.Partial("_Pizza", Model)
        @Html.HiddenFor(m => m.Pizza.Id)

        @Html.CustomSubmit("Edit")
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
